*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #333;
}

.clock {
  font-size: 13rem;
  color: white;
}
